<div ng-controller="CategoryController as Category">
  <div class="well well-sm">Add Category</div>
  <div class="col-md-8 col-md-offset-2">

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Category Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Nest category under
      </label>
    </div>
    <div class="form-group">
      <select class="form-control">
        <option>-- Select Category --</option>
        <option>Category-1</option>
        <option>Category-2</option>
        <option>Category-3</option>
        <option>Category-4</option>
        <option>Category-5</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-default">Cancel</button>
  </form>

  </div>

</div>
